{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger">
            <ul class="list-unstyled mb-0">
                <li><span class="initialism form-error-icon badge badge-danger">Error</span> 
                    <span class="form-error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                </li>
            </ul>
        </div>
    {% endif %}
    <h1>Connexion</h1>
    <div class="d-flex align-items-center justify-content-center vh-100">
        <form action="{{path('security_login')}}" method="post">
            <div class="form-group">
                <input placeholder="Adresse email ...." required name="_username" type="text" class="form-control" id="Email">
            </div>
            <div class="form-group">
                <input placeholder="Mot de passe ...." required name="_password" type="password" class="form-control">
                <a href="{{ path('Modif_Inscription') }}" onclick="document.getElementById('Email').submit()">Mot de passe oublié?</a>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Connexion</button>
                <button type="button" class="btn btn-info" font="white">
                    <a href="{{ path('security_registration') }}">Inscription</a>
                </button>
            </div>
        </form>
    </div>
{% endblock %}

