{% extends 'base.html.twig' %}

{% block title %}Edit ChargFige{% endblock %}

{% block body %}
    <h1>Edition du Chargement</h1>

    {{ include('charg_fige/_form.html.twig', {'button_label': 'Mettre à jpur'}) }}

    <a href="{{ path('charg_fige_index') }}">Voir Liste</a>

    {{ include('charg_fige/_delete_form.html.twig') }}
{% endblock %}
