{% extends 'base.html.twig' %}

{% block title %}Nouveau Chargement Figé{% endblock %}

{% block body %}
    <h1>Nouveau Chargement Figé</h1>

    {{ include('charg_fige/_form.html.twig') }}

    <a href="{{ path('charg_fige_index') }}">Voir Liste</a>
{% endblock %}
